@page "/"
@rendermode InteractiveServer
@using Chat.WebBlazorServer.Models
@using Microsoft.SemanticKernel.ChatCompletion

<PageTitle>Semantic Kernel Chat</PageTitle>

<div class="text-center">
</div>

<div id="chatHistory" style="height: 65vh;overflow-y: auto" class="history container border shadow rounded m-2 p-2">
    <ChatHistoryDisplay ChatHistory="@chatModel.ChatHistory" />
</div>


<div style="height: 15vh" class="container-fluid">
    <div class="row">
        <label class="mt-3 form-label" for="promptInput">Prompt</label>
    </div>
    <div class="row">
        <div class="col-11">
            <textarea id="promptInput" class="form-control" placeholder="Press ctrl+enter to submit prompt" @bind="chatModel.Prompt" rows="3" @onkeydown="HandleKeyDown"></textarea>
        </div>
        <div class="col-1">
            <input type="button" value="Submit" class="btn btn-primary" @onclick="SubmitChat" />
        </div>
    </div>
</div>

