@page "/Privacy"

<PageTitle>Política de Privacidade</PageTitle>

<h1>Política de Privacidade</h1>

<p>
    Respeitamos a sua privacidade. Este site pode coletar informações básicas, 
    como dados de navegação e formulários. Essas informações são usadas apenas 
    para melhorar sua experiência e não são compartilhadas com terceiros, 
    exceto quando exigido por lei.
</p>
